@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@700&display=swap");
body {
  background-color: #191a19;
  overflow: hidden;
}
.header {
  text-align: center;
  color: white;
  margin-top: 1rem;
  display: flex;
  justify-content: space-evenly;

  align-items: center;
}
.box {
  width: 100px;
}
.board {
  margin-top: 2.5rem;
}

hr {
  color: white;
}

.tiles {
  outline: 1px solid gray;
  height: 3.5rem;
  max-width: 3.5rem;
  margin: 0.25rem;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 2rem;
  text-align: center;
  position: relative;
  top: 50%;
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  color: white;
  padding-top: 0.15rem;
}
.keyboard {
  margin-top: 0rem;
}

.btn {
  max-width: 3rem;
  height: 3rem;
  margin: 0.2rem;
  font-family: "IBM Plex Sans", sans-serif;
  background-color: gray;
}

.btn:focus {
  outline: none;
  box-shadow: none;
  background-color: gray;
}

@media only screen and (max-width: 600px) {
  .btn {
    max-width: 2.25rem;
    font-size: 0.75rem;
    margin: 0.1rem;
  }
  .ent-del {
    max-width: 3rem;
  }
}
.ent-del {
  max-width: 4.7rem;
}
.green {
  background-color: #538d4e;
}
.yellow {
  background-color: #b59f3b;
}
.display-5 {
  font-family: "IBM Plex Sans", sans-serif;
}
.gray {
  background-color: #3a3a3c;
}

.warning {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  text-align: center;
  width: 15rem;
  z-index: 1;
  margin-bottom: 15rem;
}

.warning-text {
  text-align: center;
  color: black;
  font-family: "IBM Plex Sans", sans-serif;
  background-color: white;
  padding: 0.75rem;
  border-radius: 1%;
}
#warning-text {
  font-size: 1.2rem;
}

.fadeInAndOut {
  -webkit-animation: fadeinout 2s linear forwards;
  animation: fadeinout 2s linear forwards;
}

.fadeDown {
  -webkit-animation: fadeInDown 1s;
  animation: fadeInDown 1s;
}

@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-10rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-10rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
}

@-webkit-keyframes fadeinout {
  0%,
  100% {
    opacity: 0;
  }
  25%,
  50%,
  75% {
    opacity: 1;
  }
}

a {
  color: white;
}

a:hover {
  color: white;
}

@keyframes fadeinout {
  0%,
  100% {
    opacity: 0;
  }
  25%,
  50%,
  75% {
    opacity: 1;
  }
}

ion-icon {
  font-size: 40px;
  /*position: absolute;
  left: 75%;
  top: 1.75%;*/
  width: 40px;
}

.invisible {
  visibility: hidden;
}

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  /*background-color: rgba(0, 0, 0, 0.5);*/
  background-color: rgba(0, 0, 0, 0.6);
  align-items: center;
  justify-content: center;
  display: none;
}

.my-modal {
  color: white;
  /*background-color: #2b2a2a;*/
  /*background-color: #242524;*/
  background-color: #242524;
  height: 30rem;
  width: 25rem;
  margin-bottom: 10rem;
  padding: 3rem;
  text-align: center;
  border-radius: 1%;
  -webkit-box-shadow: 5px 5px 15px 1px rgba(0, 0, 0, 0.3);
  box-shadow: 5px 5px 15px 1px rgba(0, 0, 0, 0.3);
}

.my-modal button {
  margin-top: 3.5rem;
  max-width: 8rem;
  max-height: 5rem;
}

#how-exit-button {
  padding-left: 95%;
  cursor: pointer;
}

#stats-exit-button {
  padding-left: 95%;
  cursor: pointer;
}

.how-modal {
  color: white;
  /*background-color: #2b2a2a;*/
  background-color: #242524;
  padding: 2rem;
  margin-bottom: 10rem;
  text-align: center;
  border-radius: 1%;
  -webkit-box-shadow: 5px 5px 15px 1px rgba(0, 0, 0, 0.3);
  box-shadow: 5px 5px 15px 1px rgba(0, 0, 0, 0.3);
  padding-bottom: 5rem;
  text-align: left;
}
.how-modal h1 {
  text-align: center;
}

.flex-stats {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.stat-items {
  padding: 2rem;
}
