@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@700&display=swap");
body {
  background-color: 191a19;
}
.header {
  text-align: center;
  color: white;
}
.board {
  margin-top: 5rem;
}

.tiles {
  outline: 1px solid gray;
  height: 4rem;
  max-width: 4rem;
  margin: 0.25rem;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 2.5rem;
  text-align: center;
  position: relative;
  top: 50%;
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  color: white;
}
.keyboard {
  margin-top: 0rem;
}

.btn {
  max-width: 4.5rem;
  margin: 0.25rem;
  font-family: "IBM Plex Sans", sans-serif;
  background-color: gray;
}
.green {
  background-color: #1e5128;
}
.yellow {
  background-color: #ffe61b;
}
.display-2 {
  font-family: "IBM Plex Sans", sans-serif;
}
.gray {
  background-color: gray;
}
